<html>
<head>
  <meta charset="utf-8" />
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script defer src="/__/firebase/7.14.1/firebase-app.js"></script>
  <script defer src="/__/firebase/7.14.1/firebase-database.js"></script>
  <script defer src="/__/firebase/init.js"></script>
  <style>
    div#app { padding: 30px; margin: 30px auto; max-width: 500px; 
    border: 1px solid #ccc; box-shadow: 3px 3px 3px #aaa;  }
    body { padding: 20px; }
    button { padding: 5px; padding-left: 15px; padding-right: 15px; margin: 1px; }
    input { padding: 5px; margin: 1px;}
    table { padding: 15px; padding-top: 10px; padding-bottom: 10px; border: 1px solid; margin-top: 20px;}
  </style>
</head>
<body>
  <div id="app">
    <input type="text" id="input" v-model="num" />
    <button type="button" v-on:click="create" value="num">생성</button>
    <div v-show="isShow">
        <table>
            <tr>
                <td v-for="(value, index1) in arr" v-bind:key="index1">
                  {{ value }}
                </td>
              </tr>        
        </table>
    </div>
  </div>
  
  <script type="text/javascript">
    var app = new Vue({
      el: '#app',
      data: {
        num: 0,
        arr: [],
        isShow: false
      },
      methods: {
        create: function (num) {
            this.num = document.getElementById("input").value;
            this.isShow = true;
            for (let i = 0; i < this.num; ++i) {
                let j = Math.floor(Math.random() * 10);
                arr[i] = j;
            }
        }
      }
    });
   </script>
</body>
</html>